/* Footer styles */
.footer {
    background-color: #343a40; /* Dark background color */
    color: white; /* White text color */
    padding: 20px; /* Padding */
    position: absolute; /* Fixed position */
    bottom: 0; /* Stick to the bottom */
    width: 100%; /* Full width */
    text-align: center; /* Center-align content */
}

.footer p {
    margin-bottom: 0; /* Remove default margin of <p> element */
}

/* CSS for small screens (mobile devices) */
@media (max-width: 767.98px) {
    .navbar-collapse {
        background-color: #f8f9fa; /* Change background color for mobile menu */
    }

    .nav-item {
        margin-bottom: 5px; /* Add margin between nav items for better spacing */
    }

    .dropdown-menu {
        position: static; /* Override Bootstrap dropdown behavior for mobile */
    }

    .dropdown-item {
        padding-left: 20px; /* Increase padding for dropdown items */
    }

    .modal-dialog {
        margin: 50px auto;
        max-width: 90%; /* Adjust the maximum width for small screens */
    }
}

/* Button press effect */
.btn:hover,
.btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #007bff;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}