<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <table th:fragment="merchantTable" class="table table-striped">
     <thead class="thead-dark">
     <tr>
         <th>Id</th>
         <th>Name</th>
         <th>Township</th>
         <th>Address</th>
         <th>Phone Number</th>
         <th>Action</th>
     </tr>
     </thead>
     <tbody>
     <tr th:each="merchant : ${merchants}">
         <td th:text="${merchant.id}"></td>
         <td th:text="${merchant.merchantName}"></td>
         <td th:text="${merchant.township}"></td>
         <td th:text="${merchant.address}"></td>
         <td th:text="${merchant.phoneNumber}"></td>
         <td><a href="#"  th:href="@{/merchant/findById(id=${merchant.id})}" class="btn btn-info">View</a></td>
     </tr>
     </tbody>
 </table>
</body>
</html>